@import url(./colors.css);
.kss-tool-wrapper{
    background-color: var(--primary-theme);
    padding: 10px 0;
}
@media (max-width: 912px) {
    .kss-tool-wrapper{
        display: none;
    }
}
.kss-tool-container{
    width: 93%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.kss-tool-container .theme-col-container .kss-btn{
    min-width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 10px;
}
.kss-tool-container div a{
    padding: 15px 15px 15px 0px;
}





.kss-nav-wrapper .navbar{
    background-color: var(--primary-theme);
}
.kss-nav-wrapper .container-fluid .navbar-brand img{
    width: 100px;
    height: auto;
}
.kss-nav-wrapper .dropdown-menu{
    background-color: var(--primary-theme);
}
.kss-nav-wrapper .dropdown-menu .dropdown-header{
    color: rgb(255, 255, 255);
    background-color: #003e2c;
    padding: 3px 16px;
}
.kss-nav-wrapper .dropdown-item:focus, .dropdown-item:hover{
    background-color: #01986e;
}