:root{
    --primary-theme: #66806A;
    --secondary-theme: #B4C6A6;
    --section-primary: #FFC286;  
    --section-secondary: #FFF1AF;
}

a{
color: white !important;
background-color: var(--primary-theme);
text-decoration: none;
}
.MuiList-root{
    background-color: var(--primary-theme);
}
dumm{
    background-color: #a20149;
}