:root{
    --primary-theme: #00AD7C;
    --secondary-theme: #5c5c5c;
    --section-primary: #fff1e2;  
    --section-secondary: #FFF1AF;
}

a{
color: white !important;
background-color: var(--primary-theme);
text-decoration: none;
}
.MuiList-root{
    background-color: var(--primary-theme);
    width: 200px;
}
.MuiPaper-root{
    left: 0px !important;
}
dumm{
    background-color: #a20149;
}