@import url(./colors.css);
.kss-tool-wrapper{
    background-color: var(--primary-theme);
}
@media (max-width: 912px) {
    .kss-tool-wrapper{
        display: none;
    }
}
.kss-tool-container{
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.kss-tool-container .theme-col-container button{
    min-width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
}
